* {
  box-sizing: border-box;
}
body {
  background: #111;
  color: #fff;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.lists {
  margin-top: -100px;
}

footer {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin: 50px 0;
}

footer a {
  text-decoration: none;
  color: #e6d39f;
  transition: all ease 0.2s;
}

footer a:hover {
  text-decoration: underline;
  color: #7159c1;
}
